DB_USER=admin
DB_PASSWORD=adminpassword
# INSCTRUCTIUNI:
# 1. Redenumiti fisierul asta in .env
# 2. Puneti user ul si parola voastra locala
# 3. Deschideti terminalul in root si rulati comanda: docker-compose up --build